<footer class="footer">
    <!-- Copyright - Bootstrap Brain Component -->
    <div class="bg-light py-3 py-md-5 border-top border-light-subtle">
      <div class="container overflow-hidden">
        <div class="row">
          <div class="col">
            <div class="footer-copyright-wrapper text-center">
              &copy; 2024. All Rights Reserved.
            </div>
            <div class="credits text-secondary text-center mt-2 fs-8">
              Built by
              <a
                href="https://bootstrapbrain.com/"
                class="link-secondary text-decoration-none"
                >BootstrapBrain</a
              >
              with <span class="text-primary">&#9829;</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- <script>
    document.getElementById('uploadForm').addEventListener('submit', function (event) {
      event.preventDefault(); // Ngăn chặn hành động mặc định của form
  
      // Hiển thị loading
      document.getElementById('loading').style.display = 'block';
  
      // Tạo form data để gửi file
      const formData = new FormData(this);
  
      // Gửi request để tải file lên server
      fetch('/uploads', {
        method: 'POST',
        body: formData
      })
        .then(response => response.json())
        .then(data => {
          // Ẩn loading khi quá trình tải lên thành công
          document.getElementById('loading').style.display = 'none';
          alert('Tải lên thành công');
        })
        .catch(error => {
          // Ẩn loading nếu có lỗi xảy ra
          document.getElementById('loading').style.display = 'none';
          alert('Có lỗi xảy ra trong quá trình tải lên');
          console.error('Lỗi:', error);
        });
    });
  </script> -->
  
</body>
</html>