<footer class="footer">
    <!-- Copyright - Bootstrap Brain Component -->
    <div class="bg-light py-3 py-md-5 border-top border-light-subtle">
      <div class="container overflow-hidden">
        <div class="row">
          <div class="col">
            <div class="footer-copyright-wrapper text-center">
              &copy; 2024. All Rights Reserved.
            </div>
            <div class="credits text-secondary text-center mt-2 fs-8">
              Built by
              <a
                href="https://bootstrapbrain.com/"
                class="link-secondary text-decoration-none"
                >BootstrapBrain</a
              >
              with <span class="text-primary">&#9829;</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>